In [2]:
import pandas as pd
import numpy as np
data=pd.read_csv('PokeTypeMatchupData.csv')

In [13]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(data.columns)

Index(['Name', 'Number', 'Normal', 'Fire', 'Water', 'Electric', 'Grass', 'Ice',
       'Fighting', 'Poison', 'Ground', 'Flying', 'Psychic', 'Bug', 'Rock',
       'Ghost', 'Dragon', 'Dark', 'Steel', 'Fairy'],
      dtype='object')

In [26]:
data.replace(to_replace="[#, *]",value="",regex=True,inplace=True)
data.Number=data.Number.astype(int)
Types=['Name', 'Number', 'Normal', 'Fire', 'Water', 'Electric', 'Grass', 'Ice',
       'Fighting', 'Poison', 'Ground', 'Flying', 'Psychic', 'Bug', 'Rock',
       'Ghost', 'Dragon', 'Dark', 'Steel', 'Fairy']
data.head()

,Name,Number,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
0,Bulbasaur,1,1,2,0.5,0.5,0.25,2,0.5,1,1,2,2,1,1,1,1,1,1,0.5
1,Ivysaur,2,1,2,0.5,0.5,0.25,2,0.5,1,1,2,2,1,1,1,1,1,1,0.5
2,Venusaur,3,1,2,0.5,0.5,0.25,2,0.5,1,1,2,2,1,1,1,1,1,1,0.5
3,Charmander,4,1,0.5,2,1,0.5,0.5,1,1,2,1,1,0.5,2,1,1,1,0.5,0.5
4,Charmeleon,5,1,0.5,2,1,0.5,0.5,1,1,2,1,1,0.5,2,1,1,1,0.5,0.5

In [29]:
pokemon='Gyarados'
villian=data.loc[data.Name==pokemon]
villian

,Name,Number,Normal,Fire,Water,Electric,Grass,Ice,Fighting,Poison,Ground,Flying,Psychic,Bug,Rock,Ghost,Dragon,Dark,Steel,Fairy
103,Gyarados,130,1,0.5,0.5,4,1,1,0.5,1,0,1,1,0.5,2,1,1,1,0.5,1

In [34]:
for t in Types:
    if villian.iloc[0][t]==4:
        print("4 times aeefective")
    elif villian.iloc[0][t]==2:
        print("two times effective")

In [41]:
def battle_advisor(pokemon='Charmander'):
    
    data.replace(to_replace = "[#, *]", value = "", regex = True, inplace = True)
    data.Number=data.Number.astype(int)
    types=['Normal', 'Fire', 'Water', 'Electric', 'Grass', 'Ice', 'Fighting', 'Poison', 'Ground','Flying', 'Psychic', 'Bug', 'Rock', 'Ghost', 'Dragon', 'Dark', 'Steel', 'Fairy']
    data[types]=data[types].astype(float)
    
    
    print('Hello Trainer!')
    print("Seems like you have problems facing {}. Let me help you find your opponent's weaknesses:".format(pokemon))
    print()
    print()
    if pokemon in list(data.Name):
        print(' SUPER-EFFECTIVE ATTACK TYPES ')
        opponent = data.loc[data.Name==pokemon]
        for t in types: 
            if opponent.iloc[0][t]==4:
                print('{} attacks are x4 times super-effective on {}!'.format(t.upper(),opponent.iloc[0]['Name'])) 
                print()
            elif opponent.iloc[0][t]==2:
                print('{} attacks are x2 times super-effective on {}'.format(t.upper(),opponent.iloc[0]['Name']))
                print()
                
        print()
        print("On the other hand, I recomment you NOT to choose weaker attack type.")
        print("WEAKNESSES")
        for t in types:
            if opponent.iloc[0][t]==0.5:
                print('{} attacks are not very effective on {}'.format(t.upper(),opponent.iloc[0]['Name']))
                print()
            elif opponent.iloc[0][t]==0:
                print('{} attacks are NOT EFFECTIVE at all on {}'.format(t.upper(),opponent.iloc[0]['Name']))
                print()
                
    else:
        print('OOPS! I do not have this Pokemon in my Database, you have to cope with this on your own')
    return

In [42]:
battle_advisor('Bulbasaur')

Hello Trainer!
Seems like you have problems facing Bulbasaur. Let me help you find your opponent's weaknesses:


 SUPER-EFFECTIVE ATTACK TYPES
FIRE attacks are x2 times super-effective on Bulbasaur

ICE attacks are x2 times super-effective on Bulbasaur

FLYING attacks are x2 times super-effective on Bulbasaur

PSYCHIC attacks are x2 times super-effective on Bulbasaur


On the other hand, I recomment you NOT to choose weaker attack type.
WEAKNESSES
WATER attacks are not very effective on Bulbasaur

ELECTRIC attacks are not very effective on Bulbasaur

FIGHTING attacks are not very effective on Bulbasaur

FAIRY attacks are not very effective on Bulbasaur